.CurrentRoundJumbotron {
  
  background-color: black;
}

.CurrentRoundJumbotron h2 {
  font-size: calc(0.5rem + 1vw);
  color: #aaa;
}

.CurrentRoundJumbotron h1 {
  font-size: calc(2rem + 3.5vw);
  color: white;
}

.currentRoundIcon {
  width: 200px;
  height: 200px;
}
