.Round {
  height: 100%;
  padding: 10px 40px;
  background-color: #322d3e;
}

.Round h1 {
  font-size: calc(4rem + 1.5vw);
  font-weight: bold;
  color: white;
}

.Round p {
  color: lightgray;
}

.Round small {
  color: lightgray;
}
