.RoundAlbumListItem h2 {
  font-size: min(calc(15px + .6vw), 24px);
  font-weight: bold;
  color: black;
  transition-duration: 0.1s;
}

.RoundAlbumListItem h2:hover {
  color: #666;
}

.RoundAlbumListItem h3 {
  font-size: min(calc(12.5px + .5vw), 20px);
  color: gray;
}

.albumInfoArea {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  grid-gap: min(calc(5px + 1vw), 26px);
  margin-bottom: min(calc(8px + 1vw), 20px);
}

.albumInfoArea p {
  font-size: min(calc(9px + 0.8vw), 21px);
  margin: 0;
}

.posterHeader {
  grid-gap: min(calc(4px + 0.5vw), 10px);
}

.postedAlbumImg {
  min-width: min(calc(100px + 8vw), 200px);
  min-height: min(calc(100px + 8vw), 200px);
  max-width: min(calc(100px + 8vw), 200px);
  max-height: min(calc(100px + 8vw), 200px);
  position: relative;
  border-radius: min(calc(1px + 0.2vw), 3px);
  box-shadow: rgba(0, 0, 0, 0.5) 0px 2px 4px 0px;
}

.iconOverlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 3px;
  background-color: transparent;
  transition-duration: 0.1s;
}

.iconOverlay:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.missingLabel {
  color: red;
}

.albumDescription {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.albumStatsArea {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-gap: min(calc(5px + 0.5vw), 12px);
}

.MissingVotesInfo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.missingVotesParticipantsList {
  display: flex;
  justify-content: center;
  grid-gap: 5px;
}

/* Large screens */
@media only screen and (min-width: 992px) {
  .albumInfoArea {
    flex-direction: column;
    justify-content: flex-start;
  }

  .albumInfoArea img {
    min-width: 200px;
    min-height: 200px;
    max-width: 200px;
    max-height: 200px;
  }
}
