.RoundAlbumListItem img {
  width: 200px;
  height: 200px;
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 10px;
}

.RoundAlbumListItem h2 {
  font-size: min(calc(15px + .6vw), 24px);
  font-style: italic;
  color: black;
}

.RoundAlbumListItem h3 {
  font-size: min(calc(12.5px + .5vw), 20px);
  color: gray;
}
