.RoundAlbumListItem h2 {
  font-size: min(calc(15px + .6vw), 24px);
  font-weight: bold;
  color: black;
  transition-duration: 0.1s;
}

.RoundAlbumListItem h2:hover {
  color: #666;
}

.RoundAlbumListItem h3 {
  font-size: min(calc(12.5px + .5vw), 20px);
  color: gray;
}

.postedAlbumIcon {
  min-width: 200px;
  min-height: 200px;
  max-width: 200px;
  max-height: 200px;
  padding: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  position: relative;
  background-size: cover;
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 4px 8px 0px;
}

.iconOverlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 3px;
  background-color: transparent;
  transition-duration: 0.1s;
}

.iconOverlay:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.posterIcon {
  min-width: 36px;
  min-height: 36px;
  max-width: 36px;
  max-height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14.4px;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 2px 5px 0px;
  color: white;
}

.missingLabel {
  color: red;
}

.albumLink {

}

.MissingVotesInfo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.missingVotesParticipantsList {
  display: flex;
  justify-content: center;
  gap: 5px;
}
