.RoundHeader h1 {
  font-size: calc(1.5rem + 4.5vw);
  font-weight: bold;
  color: black;
}

.RoundHeader h2 {
  font-size: calc(0.5rem + 0.75vw);
  color: gray;
}

.roundDescription {
  font-size: calc(0.5rem + 0.5vw);
}
