.RoundListItem {
  width: 200px;
  height: 200px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 5px;
  border-radius: 3px;
  border: 1px solid #ddd;
  transition: 0.1s;
  background-size: cover;
}

.roundIconOverlay {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  transition: 0.1s;
}

.roundIconOverlay:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.disk {
  position: absolute;
  z-index: -1;
  left: 5px;
  top: 5px;
  width: 95%;
  height: 95%;
  border-radius: 50%;
  background-color: black;
  transition: 0.2s;
}

.RoundListItem:hover > .disk {
  left: 25px;
}
