.MemberIcon p {
  margin: 0;
  color: white;
}

.MemberIconSmall {
  min-width: min(calc(16px + 1vw), 32px);
  max-width: min(calc(16px + 1vw), 32px);
  min-height: min(calc(16px + 1vw), 32px);
  max-height: min(calc(16px + 1vw), 32px);
}

.MemberIconMedium {
  min-width: min(calc(24px + 1.5vw), 48px);
  max-width: min(calc(24px + 1.5vw), 48px);
  min-height: min(calc(24px + 1.5vw), 48px);
  max-height: min(calc(24px + 1.5vw), 48px);
}

.MemberIconSmall p {
  font-size: min(calc(6px + 0.4vw), 14px);
}

.MemberIconMedium p {
  font-size: min(calc(9px + 0.8vw), 21px);
}

.link {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--defaultColor);
  transition-duration: 0.15s;
}

.link:hover {
  /*transform: translateY(-3px);*/
  background-color: var(--hoverColor);
  cursor: pointer;
}

.link p {
  margin: 0;
}

/* https://stackoverflow.com/questions/60583902/how-to-create-dashed-circles-with-uniform-spacing */
.spinner {
  --dashGap: 10deg;
  --dashCount: 12;
  --dashThickness: 3px;
  min-width: 100%;
  min-height: 100%;
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  display: inline-block;
  border-radius: 50%;
  background:
    repeating-conic-gradient(var(--c) 0 calc(360deg/var(--dashCount) - var(--dashGap)), transparent 0 calc(360deg/var(--dashCount)));
    -webkit-mask: radial-gradient(farthest-side,transparent calc(100% - var(--dashThickness)), #fff calc(100% - var(--dashThickness) + 1px));
    mask: radial-gradient(farthest-side, transparent calc(100% - var(--dashThickness)),#fff calc(100% - var(--dashThickness) + 1px)
  );
  animation: spin 25s linear infinite;
}

/* keep the spinner square. Is this necessary? */
.spinner:before {
  content: "";
  display: block;
  padding-top: 100%;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
