.RoundListItem {
  width: 200px;
  height: 200px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 8px;
  border-radius: 3px;
  transition: 0.1s;
}

.RoundListItem:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 10px 8px;
}

.interior {
  cursor: pointer;
}

.round-icon-overlay {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  transition: 0.1s;
}

.round-icon-overlay:hover {
  background-color: rgba(0, 0, 0, 0.05);
}
