.RoundListItem {
  width: 200px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 8px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #5e5572;
  transition: 0.2s;
}

.RoundListItem:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 10px 8px;
  background-color: #877c9d;
}

.RoundListItem p {
  margin: 0px;
  font-size: 18px;
  color: white;
}

.RoundListItem a {
  text-decoration: none;
}

.interior {
  cursor: pointer;
}

.round-label {
  text-align: center;
  text-decoration: none;
}
