.CurrentRoundJumbotron {
  background-color: black;
  padding: min(calc(0px + 2.133vw), 20px);
  transition-duration: 0.15s;
}

.CurrentRoundJumbotron h1 {
  font-size: min(calc(0px + 8vw), 75px);
  color: white;
}

.CurrentRoundJumbotron h2 {
  font-size: min(calc(5px + 2.5vw), 25px);
  color: #aaa;
}

.CurrentRoundJumbotron .roundDate {
  font-size: min(calc(5px + 1.5vw), 15px);
  color: white;
  margin: 0px;
}

.currentRoundThumbnail {
  width: min(calc(90px + 10vw), 225px);
  height: min(calc(90px + 10vw), 225px);
  border-radius: 3px;
  background-size: cover;
  transition-duration: 0.15s;
}

.currentRoundThumbnail:hover {
  box-shadow: rgba(255, 255, 255, 0.5) 0px 0px 10px 4px;
}
