.RoundAlbumListItem img {
  width: 200px;
  height: 200px;
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 10px;
}

.RoundAlbumListItem h2 {
  font-size: calc(0.9rem + .7vw);
  font-style: italic;
  color: black;
}

.RoundAlbumListItem h3 {
  font-size: calc(0.5rem + .7vw);
  color: gray;
}
