.memberHeader {
  display: flex;
  align-items: center;
  gap: min(calc(5px + 1.125vw), 20px);;
}

.memberIcon {
  min-width: min(calc(20px + 4.5vw), 80px);
  min-height: min(calc(20px + 4.5vw), 80px);
  max-width: min(calc(20px + 4.5vw), 80px);
  max-height: min(calc(20px + 4.5vw), 80px);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: white;
}

.memberIcon p {
  margin: 0;
  font-size: min(calc(8px + 1.8vw), 32px);
}

.memberHeader h1 {
  margin: 0;
  font-size: min(calc(20px + 4.5vw), 80px);
  font-weight: bold;
  color: black;
}
