.CurrentRoundJumbotron {
  background-color: black;
}

.CurrentRoundJumbotron h2 {
  font-size: calc(0.4rem + 1.5vw);
  color: #aaa;
}

.CurrentRoundJumbotron h1 {
  font-size: calc(1rem + 5vw);
  color: white;
}

.currentRoundIcon {
  width: calc(5rem + 8vw);
  height: calc(5rem + 8vw);
}
