.RoundListItem {
  width: 200px;
  height: 200px;
  /*background-color: #5e5572;*/
  box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 8px;
}

.round-number-label {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 15%;
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 3px;
  border-bottom-right-radius: 10px;
  background-color: #833434;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.5) 1px 1px 5px;
}

p {
  margin: 0px;
}
