.ParticipantStatusIcon {
  min-width: min(calc(24px + 1.5vw), 50px);
  min-height: min(calc(24px + 1.5vw), 50px);
  max-width: min(calc(24px + 1.5vw), 50px);
  max-height: min(calc(24px + 1.5vw), 50px);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.finishedIcon {
  min-width: min(calc(24px + 1.5vw), 50px);
  min-height: min(calc(24px + 1.5vw), 50px);
  max-width: min(calc(24px + 1.5vw), 50px);
  max-height: min(calc(24px + 1.5vw), 50px);
  position: absolute;
  border-radius: 50%;
}

.unfinishedIcon {
  min-width: min(calc(24px + 1.5vw), 50px);
  min-height: min(calc(24px + 1.5vw), 50px);
  max-width: min(calc(24px + 1.5vw), 50px);
  max-height: min(calc(24px + 1.5vw), 50px);
  position: absolute;
  border-radius: 50%;
  border-style: solid;
  border-width: min(calc(2px + 0.09vw), 3px);
  border-color: transparent;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.ParticipantStatusIcon p {
  font-size: min(calc(9.6px + 0.6vw), 20px);
  margin: 0px;
  z-index: 1;
  color: white;
}
