.ParticipantStatusIcon {
  min-width: min(calc(24px + 1.5vw), 50px);
  min-height: min(calc(24px + 1.5vw), 50px);
  max-width: min(calc(24px + 1.5vw), 50px);
  max-height: min(calc(24px + 1.5vw), 50px);
  position: relative;
}

.unfinishedIcon {
  min-width: min(calc(24px + 1.5vw), 50px);
  min-height: min(calc(24px + 1.5vw), 50px);
  max-width: min(calc(24px + 1.5vw), 50px);
  max-height: min(calc(24px + 1.5vw), 50px);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.finishedIcon {
  min-width: min(calc(24px + 1.5vw), 50px);
  min-height: min(calc(24px + 1.5vw), 50px);
  max-width: min(calc(24px + 1.5vw), 50px);
  max-height: min(calc(24px + 1.5vw), 50px);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* https://stackoverflow.com/questions/60583902/how-to-create-dashed-circles-with-uniform-spacing */
.spinner {
  --dashDistance: 10deg;
  --dashCount: 12;
  --dashThickness: 3px;
  min-width: min(calc(24px + 1.5vw), 50px);
  min-height: min(calc(24px + 1.5vw), 50px);
  max-width: min(calc(24px + 1.5vw), 50px);
  max-height: min(calc(24px + 1.5vw), 50px);
  position: absolute;
  display: inline-block;
  border-radius: 50%;
  background:
    repeating-conic-gradient(
        var(--c)    0 calc(360deg/var(--dashCount) - var(--dashDistance)),
        transparent 0 calc(360deg/var(--dashCount)));
  -webkit-mask:radial-gradient(farthest-side,transparent calc(100% - var(--dashThickness)),#fff calc(100% - var(--dashThickness) + 1px));
          mask:radial-gradient(farthest-side,transparent calc(100% - var(--dashThickness)),#fff calc(100% - var(--dashThickness) + 1px));
  animation: spin 25s linear infinite;
}

/* keep the spinner square */
.spinner:before {
  content: "";
  display: block;
  padding-top: 100%;
}

.ParticipantStatusIcon p {
  font-size: min(calc(9.6px + 0.6vw), 20px);
  margin: 0px;
  z-index: 1;
  color: white;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
