.MemberIcon {
  min-width: min(calc(22px + 0.6vw), 30px);
  min-height: min(calc(22px + 0.6vw), 30px);
  max-width: min(calc(22px + 0.6vw), 30px);
  max-height: min(calc(22px + 0.6vw), 30px);
  margin: 0px calc(0.05rem + 0.1vw);
}

.MemberIcon > p {
  font-size: min(calc(10.266px + 0.28vw), 14px);
  margin: 0px;
  color: white;
}
