.MemberIcon {
  min-width: calc(1.4rem + 0.5vw);
  min-height: calc(1.4rem + 0.5vw);
  max-width: calc(1.4rem + 0.5vw);
  max-height: calc(1.4rem + 0.5vw);
  margin: 0px calc(0.05rem + 0.1vw);
}

.MemberIcon > p {
  font-size: calc(0.4rem + 0.5vw);
  margin: 0px;
  color: white;
}
